.ri-button {
  --button-color: currentColor;
  --button-bg: var(--gray-2);

  padding: var(--size-2) var(--size-3);

  color: var(--button-color);
  text-transform: uppercase;
  font-weight: 500;

  background-color: var(--button-bg);
  border-radius: var(--radius-conditional-2);
}

.ri-button.-secondary {
  --button-bg: var(--violet-8);
}

.ri-button.-error {
  --button-bg: var(--red-8);
  --button-color: var(--gray-0);
}